pkgbase = todoist-appimage
	pkgdesc = A To-Do List to Organize Your Work & Life
	pkgver = 8.3.2
	pkgrel = 2
	url = https://todoist.com/
	arch = x86_64
	license = custom
	depends = zlib
	depends = appimagelauncher
	noextract = todoist-8.3.2.AppImage
	options = !strip
	source = todoist-8.3.2.AppImage::https://electron-dl.todoist.com/linux/Todoist-linux-x86_64-8.3.2.AppImage
	sha256sums = 01292393f813af06fb6bdf45717c24b9ef03b39f56bf38be6049a68e21aabf6a

pkgname = todoist-appimage
